@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;400&family=Raleway:wght@100;400&display=swap');

:root{
    font-size: 60%;
}

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
}

body{
    height: 100vh;
    color: #FFF2E7;
    font-size: 1.6rem;
}

header{
    padding: 3rem;
    height: 10vh;
    width: 100%;
}
header nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-family: 'Montserrat', sans-serif;
    height: 100%;
}
header nav a{
    color: #FFF2E7;
    display: flex;
    gap: 1rem;
}
header nav a img{
    height: 5rem;
}


header nav .nav-s > i{
    font-size: 2.2rem;
    cursor: pointer;
}
header nav .nav-s li{
    display: none;
}


footer{
    width: 100%;
    padding: 4rem 5rem 2rem;
    margin-top: 1rem;
    border-top: 0.4px solid #FFF2E7;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Montserrat', sans-serif;
    background: #363331;
    text-align: center;
}

footer a{
    color: #FFF2E7;
}
footer i{
    font-size: 2.2rem;
}
footer .medias{
    display: flex;
    gap: 2rem;
    margin-bottom: 2rem;
}
footer li{
    display: flex;
    flex-direction: column;
    width: 100%;
}
footer li a{
    padding: 1rem;
    transition: background-color 0.2s ease;
}
footer li a:hover{
    background: #CCC2BA;
}

@media (max-width: 1023px){
    header nav .nav-g{
        display: none;
    }
    
}

@media (min-width: 1024px){
    header nav .nav-s{
        display: none;
    }
    header nav .nav-g{
        display: flex;
    }
    header nav .nav-g li{
        padding: 0 5rem;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    header nav .nav-g button{
        font-family: 'Montserrat', sans-serif;
        font-size: 1.6rem;
        padding: 0.5rem 3rem;
        border-radius: 8px;
        border: 0.5px solid #FFF2E7;
        background: none;
        color: #FFF2E7;
        cursor: pointer;
        transition: background-color 0.2s ease;
    }
    header nav .nav-g button:hover{
        background: #FFF2E7;
        color: #000;
    }
    header nav .nav-g li a:hover{
        border-bottom: 0.5px solid #FFF2E7;
    }
}